body {
	background-image: url('../images/topography.png');
}

.headerBox {
	border-bottom: 2px solid #dddddd;
	background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
 }

header {
	background-color: #ffffff;
	width: 960px;
	margin: auto;
}

header h1 {
	background-color: #4aaaa5;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
  	padding: 20px 40px;
 	width: auto;
 	font-family: Georgia, Times, Times New Roman, serif;
 	color: white;
 	text-align: center;
}


nav {
	background-color: #ffffff;
	color: #777777;
	display: inline-block;
	float: right;
	margin-top: 30px;
	margin-bottom: 3px;
 	width: 220px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;

}

nav a:hover {
	color: #DBE9EE;
}

nav a {
	text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777777;
	padding-right: 3px;
	padding-left: 3px;
}

.content {
	top: 100px;
	position: relative;
	margin: auto;
	width: 960px;
	justify-content: space-between;
}

p {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

section {
	background-color: #ffffff;
	display: inline-block;
	width: 590px;
	border: 2px solid #dddddd;
	padding: 0 30px 20px 30px;	
}

section h1 {
	color: #4aaaa5;
	border-bottom: 2px solid #dddddd;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 0 0 25px 0;	
}

aside {
	background-color: #ffffff;
	clear: left;
	display: inline-block;
	float: right;
	float: top;
	width: 210px;
	height: 195px;
	border: 2px solid #dddddd;
	padding: 0 30px 0 30px;
}

aside h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	border-bottom: 2px solid #dddddd;
	padding: 0px 0 20px 0;	
}

article {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	display: inline-block;
}

article p {
	display: inline-block;
}

article img {
	display: inline-block;
	float: left;
}

.asideLinks {
	text-decoration: none;
	padding-left: 10px;
	padding-bottom: 10px;
}

.portBox {
	display: inline-flex;
    position: relative;
    height: 200px;
    width: 270px;
    margin: 10px;
    justify-content: space-around;
}
.portBox-text {
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #05A8AA;
	color: white;
	text-align: center;
	margin-bottom: 8px;
	padding: 10px 0 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

form {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100px;
    background-color: #05A8AA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 120px;
    margin: 8px 0;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none;
}

footer {
	background-color: #666666;
	border-top: 8px solid #4aaaa5;
	text-align: center;
	position: fixed;
	padding: 30px 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.Site {
  	display: inline-flex;
  	min-height: 100%;
  	flex-direction: column;
  	width: 100%
}

.Site-content {
  	flex: 1 0 auto;
}

@media screen and (max-width: 980px) {
	header{
		width: 730px;
	}
	
	.content {
		width: 730px;
	}
	
	section {
		width: 360px;
	}

	.portBox {
    	height: 270px;
    	width: 360px;
	}

	.Site-content {
 		margin-bottom: 250px;
	}
}

@media screen and (max-width: 768px) {
	header{
		width: 730px;
	}
	
	.content {
		width: 730px;
	}
	
	section {
		width: 670px;
	}
	
	aside {
		float: left;
		width: 670px;
		margin-top: 40px;
	}

	.portBox {
    	height: 235px;
    	width: 310px;
	}

	.Site-content {
 		margin-bottom: 250px;
	}
}

@media screen and (max-width: 640px) {
	header{
		width: 100%;
		height: 155px;
		}
	
	header h1 {
		width: 100%;
		padding: 20px 0 20px 0;
	}

	.headerBox {
		height: 55px;
		position: static;
		width: 100%;
	}
	
	nav {
		width: 100%;
		display: block;
	}

	nav a {
		padding-right: 70px;
		padding-left: 70px;
		width: 100%;
	}

	.content {
		width: 600px;
		margin-top: 75px;
	}
	
	section {
		width: 540px;
		margin-right: 20px;
	}
	
	aside {
		float: left;
		width: 540px;
		margin-top: 40px;
	}
	
	.portBox {
   		height: 200px;
		width: 540px;
		margin:20px 0;
	}

	.Site-content {
 		margin-bottom: 160px;
	}
}